__pycache__/
*.pyc
*.pyo
*.log
*.pt

.ipynb_checkpoints/

results/clustering/*
results/editing/*
results/evaluation/*
results/evaluation_metrics/*
!results/clustering/.gitkeep
!results/editing/.gitkeep
!results/evaluation/.gitkeep
!results/evaluation_metrics/.gitkeep
AlphaEdit/results/
AlphaEdit/data/stats/

data/private/
data/clustered_train/*
data/stats/*
!data/splits/train/.gitkeep
!data/splits/test/.gitkeep
!data/clustered_train/.gitkeep
!data/stats/.gitkeep
